doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title SunS37 5

        //- link(rel="stylesheet", href=Helper.mix("chunks/vendors.css"))
        link(rel="stylesheet", href=Helper.mix("styles/layout/base.css"))
        link(rel="stylesheet", href=Helper.mix("chunks/buefy.css"))
        link(rel="stylesheet", href=Helper.mix("styles/layout/app.css"))
        block styles

        script(defer, async, src=Helper.mix("chunks/vendors.js")) 
        script(defer, async, src=Helper.mix("chunks/vue.js")) 
        script(defer, async, src=Helper.mix("chunks/buefy.js")) 
        block scripts
    body 
        #app
            block content
