extend ../../layout/app.pug

block content
    .section
        h1.is-1.title Log Monitor

    .section
        input#serverUrlInput(type="hidden" value=url)
        button(@click.prevent="clearLogs") Clear Logs

        .section
            div
                h2 Filter logs 
                    input(v-model="filter")

            div
                h2(v-if="0 < (filteredLogs || []).length") Recent Logs
                    ul
                        li(v-for="(log, index) in filteredLogs" :key="index" :class="`log-${log.type}`")
                            div.title {{ index }} / {{ log.type }} / {{ log.tag }}
                            div.body {{ log.body }}

                h2(v-else).has-text-centered.title.is-2 No logs found


block styles
    link(rel="stylesheet" href=Helper.mix("styles/pages/monitor.css"))

block scripts
    script(defer, src=Helper.mix("chunks/socket.io-client.js")) 
    script(defer, src=Helper.mix("scripts/pages/monitor/index.js")) 
